* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
}
.main-center {
  margin: 0 auto;
  display: grid;
  width: 90%;
  justify-content: center;
  height: 100vh;
  align-content: center;
}
.search-container {
  width: 20rem;
  height: 5rem;
  justify-self: center;
}
.widget-container {
  width: 20rem;
  height: 15rem;
}
