.comment {
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 0 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
.comment-img-container {
  width: 3rem;
}
.comment-img {
  width: 100%;
  border-radius: 50%;
}
.comment-content {
  display: grid;
  grid-template-columns: 5rem auto;
}
.replies {
  margin: 0.5rem;
}
.comment-options {
  display: grid;
  grid-template-columns: 2rem 3rem 2rem;
}
